@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #010514;
  --main-font-color: #f7f7f7;
  --color-negative: #d2585840;
  --color-positive: #5ab88b40;
  --font-negative: #f08282;
  --font-positive: #70d1a3;

  background: var(--background-color);
  color: var(--main-font-color);
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2%;
}
